{% extends "CinecaTranslationBundle::layout.html.twig" %}

{% block content %}
    {# total translation count #}
    {% if pagination is defined and pagination is not null%}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
    <tr>
    {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
    </tr>

    {# table body #}
    {% for translation in pagination %}
    <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td>{{ translation.id }}</td>
        <td>{{ translation.key }}</td>
        <td>{{ translation.updateAt | date('Y-m-d H:i:s') }} }}</td>
    </tr>
    {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% endif %}
{% endblock %}


