{% extends "CinecaTranslationBundle::layout.html.twig" %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
    <div class="pull-right">
        <a class="btn btn-primary" href="{{path('cineca_translations_new')}}">{{'create new translation'|trans({},'CinecaTranslationBundle')}}
        </a>
    </div>
    <div>
        <br />
        <br />
        <br />
    </div>
    <div class="panel panel-info">
       <div class="panel-heading">
        Translation List
       </div>
       <div class="panel-body">
        {# total translation count #}
        {% if pagination is defined and pagination is not null%}
        <div class="count">
            <b>{{'Total translation items '|trans({},'CinecaTranslationBundle')|upper }}</b>:{{ pagination.getTotalItemCount }}
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
            {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
                <th{% if pagination.isSorted('t.key') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Key', 't.key') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Release', ['t.date']) }}</th>
                <th>{{'Action'}}</th>
            </tr>
            </thead>

            {# table body #}
            <tbody>
            {% for translation in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ translation.id }}</td>
                <td>{{ translation.key }}</td>
                <td>{{ translation.updateAt is defined ? translation.updateAt|date('Y-m-d H:i:s') : 'your table need field update_at to map release date' }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" href="{{ path('cineca_translations_edit', { 'id': translation.id } ) }}">{{ 'Edit translation'|trans({}, 'translation') }}
                        </a>
                        &nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm" href="{{ path('cineca_translations_show', { 'id': translation.id } ) }}">{{ 'Show translation'|trans({}, 'translation') }}
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% endif %}
       </div>
   </div>
  </div>
</div>

{% endblock %}


